@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

.mainFeatures {
  background-color: #017189;
  width: 318px;
  height: 1024px;
  color: white;
}

.card {
  width: 70%;
  background-color: #2B899D;
  margin-top: 10px;
  padding: 25px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo {
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 15px;
}
.walletText {
  margin-left: 10px;
}

.points,
.wallet {
  display: flex;
  align-items: flex-start;
  border-bottom: 0.5px solid #EAFBFF;
  padding-top: 10px;
}
.eye {
  margin-left: 10px;
}
.buttonPay {
  padding-top: 10px;
}

.btn1,
.btn2 {
  background-color: #FDA4AF;
  padding: 10px 30px;
  color: white;
  border-radius: 4px;
  border: 1px solid #FDA4AF;
  margin-left: 5px;
}

.btn2 {
  background-color: white;
  color: #2B899D;
  margin-left: 5px;
  border: 1px solid white;
}

.navLinks {
  margin: 40px;
  display: flex;
  flex-direction: column;
  
}

a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 13px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.navIcons {
  padding-right: 10px;
}

.refer-card {
  background-color: #FFF5E9;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 25px 10px;
}

.referral {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

h4,
p {
  margin: 5px;
}
.refer-text {
  color: black;
  width: 330px;
  font-size: 12px;
}
.btnCard {
  text-align: center;
}
.btnGreen {
  background-color: #017189;
  border: #017189;
  margin-top: 10px;
  padding: 15px 25px;
  border-radius: 2px;
  text-align: center;
  color: white;
}

.benefit {
  text-align: center;
}